@(ids: Seq[domain.PhotoId])

<!DOCTYPE html>
<html>
    <body>
        <h2>Your photos</h2>
        <div>
            <ul>
                @for(id <- ids) {
                    <li><a href="@controllers.routes.PhotoController.getPhoto(id)" target="_blank">@id</a></li>
                }
            </ul>
            @if(ids.isEmpty) {
                You don't have any photos yet! Why not upload one?
            }
        </div>

        <h2>Upload a photo</h2>
        <div>
            <form
            method="post"
            action="@controllers.routes.PhotoController.uploadPhoto"
            enctype="multipart/form-data">
                <input type="file" name="file" accept="image/png">
                <button type="submit">Upload</button>
            </form>
        </div>
    </body>
</html>